* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    html {
      scroll-behavior: smooth;
    }
    body {
      background: rgb(0, 0, 0);
      color: aliceblue;
    }
    #header {
        width: 100%;
        height: 100vh;
        background-image: url(images/Crescent\ Moon\ resize.jpg);
        background-size: cover;
        background-position: center;
    } 
    nav{
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    h1 {
      margin-left: 5%;
      font-size: 3em;
      color: aliceblue;
    }
    h1 a {
      text-decoration: none;
      color: aliceblue;
    }
    h1 i {
        padding-right: 5px;
        padding-top: 5px;
    }
    nav ul li {
      display: inline-block;
      list-style: none;
      margin: 10px 20px;
    }
    nav ul li a {
      color: aliceblue;
      text-decoration: none;
      font-size: 18px;
      position: relative;
    }
    nav ul li a::after {
      content: '';
      width: 0;
      height: 3px;
      background: #84fff5;
      position: absolute;
      left: 0;
      bottom: -6px;
      transition: 0.5s;
    }
    nav ul li a:hover::after{
      width: 100%;
    }
    h1 a:hover {
      color: #84fff5;
      
    }
    .header-text{
        margin-top: 20%;
        font-size: 3em;
        margin-left: 5%;
    }
    .header-text h2{
        margin-top: 20px;
        margin-left: 5%;
    }
    /* ----------About------------ */

    #about{
        padding: 80px 0;
        color: rgb(196, 219, 233);
    }
    
    .row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .about-col-1 {
        flex: 1 0 35%; 
        margin: 0 2%;
    }
    .about-col-1 img{
        width: 100%;
        border-radius: 15px;
    }
    .about-col-2{
        flex-basis: 60%;
        
    }
    .about-col-2 p {
        font-size: 20px;
        padding-right: 50px;
    }
    .subtitle {
        font-size: 60px;
        font-weight: 600;
        color: aliceblue;
        text-decoration: underline;
        
    }
/* ----------------Portfolio---------------- */
#portfolio{
    padding: 50px 0;
    margin-left: 2%;
}
.work-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 50px;
}
.work1 {
    border-radius: 10px;
    position: relative;
    text-align: center;
 } 
 .link-1 {
    position: absolute;
    bottom: 16px;
    left: 0px;
    border: #adfff8 solid 1px;
    border-radius: 0 10px 10px 0;
    padding: 3px;
 }
 .link-2 {
  position: absolute;
  top: 32px;
  left: 0px;
  border: #adfff8 solid 1px;
  border-radius: 0 10px 10px 0;
  padding: 3px;
}

.work1 img{
    width: 500px;
    height: 400px;
    border-radius: 10px;
    border: #adfff8 solid 1px;
}
 .work {
    border-radius: 10px;
    position: relative;
    text-align: center;
    
}
.work img{
    width: 400px;
    height: 300px;
    border: #adfff8 solid 1px;
    border-radius: 10px
    
}
/* ---------------Contact-------------- */

.contact-left {
  flex-basis: 35%;
}
.contact-right {
  flex-basis: 60%;
}
.contact-right p {
  margin-top: 30px;
}
.contact-right p i {
  color: #84fff5;
  margin-right: 15px;
  font-size: 25px;
}
.social-icons {
  margin-top: 30px;
}
.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: aliceblue;
  display: inline-block;
  transition: transform 0.5s;
}
.social-icons a:hover {
  color: #84fff5;
  transform: translateY(-5px);
}
#contact {
  margin-left: 2%;
}

@media only screen and (max-width: 680px){
  #header{
    background-image: url(images/Crescent\ Moon\ small\ \(4\).jpg);
  }
  .header-text{
    margin-top: 40%;
    font-size: 22px;
  }
  .header-text h1{
    font-size: 30px;
  }
  .subtitle {
    font-size: 40px;
  }
  .about-col-1, .about-col-2 {
    flex-basis: 100%;
    margin-left: 10%;
  }
  .about-col-1 {
    margin-bottom: 30px;
  }
  .about-col-2 {
    font-size: 14px;
  }
  
  .contact-left, .contact-right{
    flex-basis: 100%;
    margin-left: 5%;
  }
}
@media only screen and (max-width: 520px){
  #header{
    background-image: url(images/Crescent\ Moon\ new.jpg);
  }
  #portfolio{
    margin-left: 5%;
  }
  .work-list{
    align-items: center;
    
  }
  .work1 img {
    width: 300px;
    height: 400px;
    
  }
  .work img{
    width: 200px;
    height: 200px;
    
  }
}